.container {
  margin: 0 auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 320px;
  gap: 30px;
}
@media (max-width: 1500px) {
  .container {
    display: block;
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    display: block;
    width: 800px;
  }
}
@media (max-width: 800px) {
  .container {
    display: block;
    width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    display: block;
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    display: block;
    width: 320px;
    max-width: 320px;
  }
}
.container .hoverIMG {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  height: 400px;
  background-image: url(./header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
}

.calc {
  padding: 30px 0;
  overflow-x: hidden !important;
}

.div {
  margin: 40px auto;
}
@media (max-width: 1500px) {
  .div {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .div {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .div {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .div {
    width: 100%;
  }
}

.accaunt {
  width: calc(100% - 100px);
  height: 30px;
  right: 100px;
  text-align: end;
}